Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-signed-bitwise,
  -misc-misplaced-const,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix

WarningsAsErrors: '' # Make these all warnings, not errors

HeaderFilterRegex: '^(?!.*vcpkg_installed).*$' # Don't include dependencies

FormatStyle: file

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
